﻿@model Pie

<div class="thumbnail">
    <a href="#unique-id" class="btn">
        <img alt="@Model.Name" src="@Model.ImageUrl">
        <div class="light-modal" id="unique-id" role="dialog" aria-labelledby="light-modal-label" aria-hidden="false">
            <div class="light-modal-content animated rollIn" style="width: 60%;">
                    <img style="max-width: 100%; border-radius: .2em" alt="@Model.Name" src="@Model.ImageUrl">
                    <a href="#" class="light-modal-close-icon" aria-label="close">×</a>
                    <div class="light-modal-caption">@Model.ShortDescription</div>
            </div>
        </div>
    </a>
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price</h3>
        <h3>
            <a href="#">@Model.Name</a>
        </h3>
        <h4>@Model.ShortDescription</h4>
        <p>@Model.LongDescription</p>
        <p class="button">
            <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
               asp-route-pieId="@Model.PieId">Add to cart</a>
        </p>
    </div>
</div>