﻿@model PiesListViewModel
    
<form class="form-inline mt-2 mt-md-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Low price" aria-label="Search" name="lowPrice">
    <input class="form-control mr-sm-2" type="text" placeholder="High price" aria-label="Search" name="highPrice">
    <input style="display: none" class="form-control mr-sm-2" type="text" value="@ViewBag.CurrentCategory" placeholder="category" aria-label="Search" name="category">
    <select aria-label="Search" name="sorting">
        <option value="ascending">Ascending</option>
        <option value="descending">Descending</option>
    </select>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" asp-controller="Pie" asp-action="List">Filter</button>
</form> 
    
    @ViewBag.CurrentCategory
    @foreach (var pie in Model.Pies)
    {
        @Html.Partial("PieOverviewSummary", pie)
    }

@*<div id="pieDiv">


</div>

@section scripts{

    <script>

        $(document).ready(function () {
            LoadMorePies();
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                LoadMorePies();
            }
        });

        function LoadMorePies() {

            $.ajax({
                type: 'GET',
                url: '/api/PieData',
                dataType: 'json',
                success: function (jsonData) {
                    if (jsonData == null) {
                        alert('no data returned');
                        return;
                    }

                    $.each(jsonData, function (index, pie) {

                        var PieSummarString = '<div class="col-sm-4 col-lg-4 col-md-4"> ' +
                            '  <div class="thumbnail">' +
                            '     <img src="' + pie.imageThumbnailUrl + '" alt="">' +
                            '      <div class="caption">' +
                            '         <h3 class="pull-right">' + pie.price + '</h3>' +
                            '         <h3>' +
                            '             <a href=/Pie/Details/' + pie.pieId + '>' + pie.name + '</a>' +
                            '         </h3>' +
                            '         <p>' + pie.shortDescription + '</p>' +
                            '    </div>' +
                            '    <div class="addToCart">' +
                            '        <p class="button">' +
                            '             <a class="btn btn-primary" href=/ShoppingCart/AddToShoppingCart?pieId=' + pie.pieId + '>Add to cart</a>' +
                            '         </p>' +
                            '     </div>' +
                            '  </div>' +
                            '</div>';

                        $('#pieDiv').append(PieSummarString);
                    });
                },
                error: function (ex) {
                    alert(ex);
                }
            });
            return false;
        }
    </script>

}*@