﻿<div class="light-modal" id="unique-id" role="dialog" aria-labelledby="light-modal-label" aria-hidden="false">
    <div class="light-modal-content animated zoomInUp">
        <!-- light modal header -->
        <div class="light-modal-header">
            <h3 class="light-modal-heading">Modal Title</h3>
            <a href="#" class="light-modal-close-icon" aria-label="close">&times;</a>
        </div>
        <!-- light modal body -->
        <div class="light-modal-body">
            <!-- Your content -->
        </div>
        <!-- light modal footer -->
        <div class="light-modal-footer">
            <a href="#" class="light-modal-close-btn" aria-label="close">Close</a>
        </div>
    </div>
</div>