﻿@model PiesListViewModel

<form class="form-inline mt-2 mt-md-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Low price" aria-label="Search" name="lowPrice">
    <input class="form-control mr-sm-2" type="text" placeholder="High price" aria-label="Search" name="highPrice">
    <input style="display: none" class="form-control mr-sm-2" type="text" value="@ViewBag.PieName" placeholder="category" aria-label="Search" name="pieName">
    <select aria-label="Search" name="sorting">
        <option value="ascending">Ascending</option>
        <option value="descending">Descending</option>
    </select>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" asp-controller="Pie" asp-action="Search">Filter</button>
</form>

@foreach (var pie in Model.Pies)
{
    @Html.Partial("PieOverviewSummary", pie)
}