﻿@using System.Security.Claims
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using PieShop.Auth

@inject SignInManager<ApplicationUser> SignInManager
@inject IAuthorizationService AuthorizationService
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/light-modal/dist/css/light-modal.min.css" rel="stylesheet" />
<link href="~/lib/light-modal/dist/css/animate.css" rel="stylesheet" />
<link href="~/Content/site.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                @await Component.InvokeAsync("CategoryMenu")
                <li><a asp-controller="Contact" asp-action="Index">Contact Us</a></li>

                @await Component.InvokeAsync("ShoppingCartSummary")
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrators"))
                {
                    @await Component.InvokeAsync("AdminMenu")
                }
            </ul>
            @await Html.PartialAsync("SearchPartial", new HomeViewModel())
            @await Html.PartialAsync("LoginPartial")
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">
                <img class="img-responsive" alt="My Pie Shop'" src="~/Images/bethanylogo.png" />
            </p>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
    <audio src="~/Music/music-backgound.mp3" controls autoplay />
</div>



<script src="~/js/scripts.js"></script>
@RenderSection("scripts", required: false);
