﻿@using Microsoft.AspNetCore.Identity
@model IEnumerable<PieShop.ViewModels.PieViewModel>

<h2>User management</h2>

@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">No User Accounts</td></tr>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr>
            <th>Pie ID</th>
            <th>Name</th>
            <th>ShortDescription</th>
            <th>Price</th>
            <th>ImageThumbnailUrl</th>
        </tr>

        @foreach (PieViewModel pie in Model)
        {
        <tr>
            <td>@pie.PieId</td>
            <td>@pie.Name</td>
            <td>@pie.ShortDescription</td>
            <td>@pie.Price</td>
            <td>@pie.ImageThumbnailUrl</td>

            <td>
                <form asp-action="DeletePie" asp-route-id="@pie.PieId" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="EditPie" asp-route-id="@pie.PieId">Edit</a>
                    <button type="submit" onclick="return confirm('Do you really want to delete this pie?');" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        }
    </table>
}

<p>
    <a class="btn btn-primary" asp-action="AddPie">Add new pie</a>
</p>