﻿<h2>Presentation: </h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/A5rUhGZk4ds" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h2>Contact My Pie Shop</h2>
<p>If you have any questions, please don't hesitate to get in touch.</p>
<email address="info@@pieshop.com" content="Contact us"></email>
<div class="row">
    <div class="col-md-12">
        <h3>Contact us</h3>
    </div>
</div>
<form class="form form-horizontal" method="post">
    <div asp-validation-summary="All"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-3 right">Name:</label>
                <div class="col-md-9">
                    <input  class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label  class="col-md-3 right">Last name:</label>
                <div class="col-md-9">
                    <input  class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label  class="col-md-3 right">Email:</label>
                <div class="col-md-9">
                    <input  class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label  class="col-md-3 right">Your Message:</label>
                <div class="col-md-9">
                    <textarea  rows="6" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit">Send</button>
        </div>
    </div>
</form>